/*
Project Name: Sarah Alyse Romeo Portfolio Website
Client: Self
Author: S. Romeo
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     margin: 0 auto;
     width: 100%;
    
}

#contentContain {
     width: 1024px;
     margin-right: auto;
     margin-left: auto;
} 


/******************************************
/* HOMEPAGE STYLES
/*******************************************/


h1 {
     color: white;
     font-size: 1px
     clear: none;
}

h2 {
     color: white;
     font-size: 1px
     clear: none;
}


#homeLogo {
     padding-top: 70px;
     display: block;
     margin-right: auto;
     margin-left: auto;
     position: absolute;
     right: 0;
     left: 0;
}

#homeLogoMobile{
     display: none;
}

#homeGD {
     padding-top: 150px;
     padding-bottom: 10px;
     display: block;
     margin-right: auto;
     margin-left: auto;
     position: absolute;
     right: 0;
     left: 0;
}

#circlesHome {           /*containter in which all homeage buttons live*/
     height: 111px;
     margin-left: auto;
     margin-right: auto;
     position: absolute;
     left: 0;
     right: 0;
     padding-top: 230px;
     text-align:center;
}

.circle {               /*shape and style of the homepage buttons themselves*/
     display: inline-block;
     border-radius: 50%;
     width: 110px;
     height: 110px; 
     background-color: black;
     display: inline-block;
     color: white;
     text-align: center;
     padding-top: 50px;
     padding-left: 5px;
     padding-right: 5px;
     font-size: 14px;
     font-family: "Fjalla One", sans serif; 
     letter-spacing: 1.5px;
     margin-right: 7px;
     margin-left: 7px;
}

#circleAdpromo {
     background: url(http://imgur.com/xYWHBWX.png) no-repeat center center;
     background-size: contain;
     opacity: .3; -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

#circleBookcovers {
     background: url(http://imgur.com/4qEWYZD.png) no-repeat center center;
     background-size: contain;
     opacity: .3; -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

#circleResume {
     background: url(http://imgur.com/EvBE5mw.png) no-repeat center center;
     background-size: contain;
     opacity: .3; -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

#circleAbout {
     background: url(http://imgur.com/3hPVQO5.png) no-repeat center center;
     background-size: contain;
     opacity: .3; -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

#circleContact {
     background: url(http://imgur.com/7wAedRw.png) no-repeat center center;
     background-size: contain;
     opacity: .3; -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}


footer{
     clear: both;
     text-align: center;
     position: absolute;
     left: 0;
     right: 0;
     top: 550px;
     font-family: Georgia; serif;
     font-size: 11px;
}


/* Homepage mobile*/

@media (min-width: 250px) and (max-width: 649px) {

#homeLogo {
     display: none; /* Here, logo swaps out for a logo the displays better on a small screen*/
}

#homeLogoMobile {
     padding-top: 20px;
     display: block;
     margin-right: auto;
     margin-left: auto;
     position: absolute;
     right: 0;
     left: 0;
}

#homeGD {
     padding-top: 262px;
}

#circlesHome {
     padding-top: 330px;
}

footer{
     top: 650px;  
}

@media (min-width: 250px) and (max-width: 379px) {
  .circle{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  #homeFooter{
    top: 1040px;
  }

}

}

/******************************************
/* INFO (ad/promo and bookcovers) PAGES STYLES
/*******************************************/

h1 {
  display: none;
}

#leftLogo {
     padding-top: 20px;
     display: block;
     float: left;
     padding-right: 25px;
     padding-left: 10px;
}

nav {
     float: left;
     clear: none;
     padding-top: 79px;
     padding-bottom: 10px;
     border-bottom: 1.5px solid #58585a; 
     width: 750px;
}

ul {
     float: left;
}

li {
     display: inline;
     font-family: "Fjalla One", sans serif; 
     padding-right: 4px;
     padding-left: 4px;
}

a {
     text-decoration: none;
     color: black;
}

.hamburger{    /*hamburger drop down that activates in mobile*/
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:3px 15px 0px 15px;
  color: white;
  border: 0;
  font-size:2.1em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  display: none;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:0px 15px 0px 15px;
  color: white;
  border:0;
  font-size:4.5em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  display: none;
}

.menu a {
  color: rgba(0, 0, 0, 0);
}

.menu {
  display: none;
}

button {
     display: none;
}

.active{
     color: white;
     background-color: black;
}

.sidebar {
     width: 133px;
     float: left;
     clear: both;
     text-align: center;
     font-family: Georgia;
     font-size: 13px;
     font-style: italic;
     line-height: 20px;
     padding-top: 15px;
     padding-left: 16px;
     color: #58585a;
}

.galleryContain {
     width: 750px;
     float: left;
     padding-left: 50px;
     margin-left: auto;
     margin-right: auto;
     margin-top: -23px;

}

.thumbnail {
     width: 140px;
     height: 140px;
     background-color: black;
     margin-left: 15px;
     margin-right: 15px;
     display: inline-block;
     margin-bottom: 30px;
}

footer{
     clear: both;
     text-align: center;
     position: absolute;
     left: 0;
     right: 0;
     top: 700px;
     font-family: Georgia; serif;
     font-size: 11px;
}

#portfolioFooter{
  top: 870px;
}

/* Info pages Tablet */
@media (min-width: 650px) and (max-width: 940px) {

nav { 
     width: 550px;
}

.galleryContain {
     width: 600px;
}

footer{
     top: 900px;
     left: 50px;
}


#portfolioFooter{
  top: 1190px;
}

}

/* Info pages Mobile */
@media (min-width: 536px) and (max-width: 649px) {

nav { 
     width: 420px;
}
.galleryContain {
     width: 450px;
}

#portfolioFooter{
  top: 1590px;
  left: 95px;
}

}

@media (min-width: 250px) and (max-width: 535px) {
nav {
     display: none;
}

.galleryContain {
     width: 350px;
}

#portfolioFooter{
  top: 2900px;
  left: 90px;
}


.hamburger{
  color: #58585a;
  display: inline-block;
}
.cross{
  color: white;

  /* hamburger menu activity */
}
.menu{z-index:1000000; font-weight:bold; font-weight:100; letter-spacing:1px; font-size:1em; width:100%; background:rgba(0, 0, 0, 0.85);  position:absolute; text-align:left;}
.menu ul {text-align: left; margin: 0 auto; list-style-type: none; list-style-image: none; padding-left:40px;}
.menu li {display: block; margin: 0 auto; padding:15px 0 15px 0; border-bottom:#1d1f20 0px solid;}
.menu li:hover{display: block; padding:15px 0 15px 0; border-bottom:#1d1f20 0px solid;}
.menu ul li a { text-decoration:none; color:#fff; margin: 0 auto; float: right; clear: none;}
.menu ul li a:hover {color: #fff; text-decoration:none; margin: 0 auto;}
.menu a{text-decoration:none; color:white;}
.menu a:hover{text-decoration:none; color:white;}
}

}

  /******************************************
/* ABOUT STYLES
/*******************************************/

#aboutContain {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  clear: right;
  margin-top: 150px;
  padding-left: 150px;
}

#selfPic{
  float: right;
  width: 370px;
  margin-right: 140px;
  position: inherit;
  margin-left: 10px;
}

#aboutTextDesk{
  float: left;
  width: 36%;
  padding-left: 30px;
  font-size: 14.5px; 
  line-height: 24px;
  font-family: "Georgia";
  color: black;
}

#aboutTextDesk span {
  font-size: 27px;
  font-style: italic;
  font-weight: 800;
  color: #421c52;
}

#aboutTextMobile{
  display: none;
}

#aboutFooter{
     clear: both;
     text-align: center;
     position: absolute;
     left: 0;
     right: 0;
     top: 710px;
     font-family: Georgia; serif;
     font-size: 11px;
}

/* About page tablet*/
@media (min-width: 400px) and (max-width: 750px) {

#aboutContain {
  padding-left: 120px;
}

#aboutTextDesk {
  display: none;
}  

#selfPic{
  position: inherit;
  width: 340px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  right: 0;
  left: 0;
  margin-top: 150px;

}
#aboutTextMobile {
  width: 90%;
  padding-left: 10px;
  font-size: 14.5px; 
  line-height: 25px;
  font-family: "Georgia";
  color: black;
  clear: both;
  margin-top: 500px;
   display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  right: 0;
  left: 0;
}

#aboutTextMobile span {
  font-size: 27px;
  font-style: italic;
  font-weight: 800;
  color: #421c52;
}

#aboutFooter {
  top: 790px;
}

}

/* About page mobile*/
@media (min-width: 250px) and (max-width: 399px) {

#selfPic{
  position: inherit;
  width: 240px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 170px;
  position: absolute;
  right: 0;
  left: 0;
}
#aboutTextMobile {
  width: 90%;
  padding-left: 10px;
  font-size: 14.5px; 
  line-height: 25px;
  font-family: "Georgia";
  color: black;
  clear: both;
  margin-top: 425px;
   display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  right: 0;
  left: 0;
}

#aboutTextMobile span {
  font-size: 27px;
  font-style: italic;
  font-weight: 800;
  color: #421c52;
}

#aboutTextDesk {
  display: none;
} 

#aboutFooter {
  top: 910px;
}

}






  /******************************************
/* CONTACT STYLES
/*******************************************/

.contactContain {
width: 750px;
     float: left;
     padding-left: 50px;
     margin-left: auto;
     margin-right: auto;
     margin-top: -23px;
   }

.contactPic {
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  right: 0;
  left: 0;
}

.contactContain .findMe {
  text-align:center;
  display: block;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  right: 0;
  left: 0;
  font-family: "Fjalla One", sans serif; 
}

.contactContain .info {
  text-align:center;
  display: block;
  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  right: 0;
  left: 0;
  font-family: "Georgia", serif;
  font-size: 20px; 
  margin-bottom: 50px;
}


#circleSmallEmail {
     background: url(http://i.imgur.com/RrWKRQ1.png) no-repeat center center;
     background-size: contain;
     opacity: .3; -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

#circleSmallTweet {
     background: url(http://i.imgur.com/ttMbemL.png) no-repeat center center;
     background-size: contain;
     opacity: .3; -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

#circleSmallLink {
     background: url(http://i.imgur.com/pWT1Q9J.png) no-repeat center center;
     background-size: contain;
     opacity: .3; -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
               -o-transition: visibility 0.2s linear, opacity 0.2s linear;
}

.circleSmall {
     display: inline-block;
     border-radius: 50%;
     width: 55px;
     height: 55px; 
     background-color: black;
     color: none;
     text-align: center;
     padding-left: 5px;
     padding-right: 5px;
     font-size: 14px;
     font-family: "Fjalla One", sans serif; 
     letter-spacing: 1.5px;
     margin-right: 7px;
     margin-left: 7px;
}

#emailBox {
 margin-top: 10px;
}

#tweetBox {
 margin-top: 170px;
}

#linkBox {
 margin-top: 330px;
}

/*Contact Page Tablet*/
@media (min-width: 250px) and (max-width: 535px) {

.contactContain{ margin-left: 195px;}
}

#contactFooter {
  top: 700px;
  clear: both;
     text-align: center;
     position: absolute;
     left: 0;
     right: 0;
     font-family: Georgia; serif;
     font-size: 11px;
}
}


}